.posts{
  margin: 20px;
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1)) !important;
  padding: 5%;
}
.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.commentText {
  font-size: 13px;
  line-height: 18px;
  color: black;
  display: block;
  /* background: #f6f6f7; */
  border: 1px solid #000000;
  border-radius: .5rem;
  padding: 15px 20px 20px 20px;
  width: auto;
}

.form-input {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #edeff2;
  border-radius: 3px;
}

.form-input {
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 80%;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px ;
  /* margin-bottom: 40px; */
  background-color: var(--secondary);
  color: black;
  font-family: 'Roboto Mono', monospace;
}

.postDiv {
  padding: 10px;
  margin-top: 30px;
  width: 80%;
}








