.cardGroup {
padding-top: 20px;
padding-bottom: 20px;
background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1)) !important;
}
.cardBody {
	background: black;
	color: white !important;
}
.cardImg {
	transition: transform 0.2s ease;
}

.cardImg:hover {
	transform: scale(1.2);
}

.card-title {
	padding: 10%;
	font-size: 2rem !important;
}



