.comment-section {
  display: block;
  border-radius: 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 20px;
}

.comment-content {
  font-size: 14px;
}

.comments {
  color: rgb(255, 0, 174);
}